*{
  margin: 0;
  padding: 0;
}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.heading{
  padding-bottom: 20px;
}

table td{
  border: 1px solid grey;
  width: 100px;
  height: 100px;
}